DATABASE_CLIENT=postgres
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_NAME=strapi
DATABASE_USERNAME=strapi
DATABASE_PASSWORD=strapi

JWT_SECRET=supersecret
ADMIN_JWT_SECRET=supersecret
APP_KEYS=key1,key2,key3,key4